<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ConsentText</key>
		<dict>
			<key>default</key>
			<string>dear {{ Profile_name }}-primary, Use your Iphone as much as you want.   sunba91</string>
		</dict>
		<key>PayloadContent</key>
		<array>
			<dict>
				<key>AllowedProtocolMaskInDomesticRoaming</key>
				<integer>3</integer>
				<key>APNs</key>
				<array>
					<dict>
						<key>AllowedProtocolMask</key>
						<integer>2</integer>
						<key>AllowedProtocolMaskInDomesticRoaming</key>
						<integer>2</integer>
						<key>AllowedProtocolMaskInRoaming</key>
						<integer>2</integer>
						<key>AuthenticationType</key>
						<string>CHAP</string>
						<key>Name</key>
						<string>{{ Profile_name }}mcinet</string>
						<key>ProxyServer</key>
						<string>{{ Profile_name }}mcinet</string>
						<key>Username</key>
						<string>{{ Profile_name }}</string>
					</dict>
					<dict>
						<key>AllowedProtocolMask</key>
						<integer>2</integer>
						<key>AllowedProtocolMaskInDomesticRoaming</key>
						<integer>2</integer>
						<key>AllowedProtocolMaskInRoaming</key>
						<integer>2</integer>
						<key>AuthenticationType</key>
						<string>CHAP</string>
						<key>Name</key>
						<string>{{ Profile_name }}mcinet</string>
					</dict>
				</array>
				<key>AttachAPN</key>
				<dict>
					<key>AllowedProtocolMask</key>
					<integer>2</integer>
					<key>AuthenticationType</key>
					<string>CHAP</string>
					<key>Name</key>
					<string>{{ Profile_name }}mcinet</string>
				</dict>
				<key>PayloadDisplayName</key>
				<string>{{ lookup('community.general.random_string', length=15, override_special=hex_chars) }}-{{ Profile_name }}-{{ lookup('community.general.random_string', length=24, override_special=hex_chars) }}</string>
				<key>PayloadIdentifier</key>
				<string>com.apple.cellular.{{ PaylodIdentifier.stdout }}</string>
				<key>PayloadType</key>
				<string>com.apple.cellular</string>
				<key>PayloadUUID</key>
				<string>{{ PaylodUUID.stdout }}</string>
				<key>PayloadVersion</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>PayloadDescription</key>
		<string>
		All of us need our mobile phones to do our daily tasks.
		know that Iran's government blocks technology in this country we need to get free.
		free to use the newest technology.
		free to use free internet.
		I'm sunba91
		a DevSecOps engineer who lives in Yazd.
		a platform engineer with one iPhone 15 pro max that can't use it as a cellphone.
		I'm trying to break this registration technology.
		I want to be free to use technology.
		I'm sunba91
		</string>
		<key>AutomaticAntennaSearchAndConnect</key>
        <true/>
        <key>AutomaticNetworkConnection</key>
        <true/>
        <key>PreferredNetworks</key>
        <array>
            <string>IR-MCI</string>
            <string>MCI</string>
            <string>432-11</string>
        </array>
        <key>NetworkModePreference</key>
        <array>
            <string>LTE</string>
            <string>3G</string>
        </array>
		<key>PayloadDisplayName</key>
		<string>{{ Profile_name }}-SUNBA91 profile for iphone 15 pro max to make it a cellphone</string>
		<key>PayloadIdentifier</key>
		<string>{{ SecPaylodIdentifier.stdout }}</string>
		<key>PayloadOrganization</key>
		<string>SUNBA91 profile for iphone 15 pro max to make it a cellphone</string>
		<key>PayloadType</key>
		<string>Configuration</string>
		<key>PayloadUUID</key>
		<string>{{ SecPaylodUUID.stdout }}</string>
		<key>PayloadVersion</key>
		<integer>1</integer>
		<key>Services</key>
		<dict>
			<key>DataRoaming</key>
			<true />
			<key>VoiceRoaming</key>
			<true />
			<key>VPN</key>
			<dict>
				<key>OnDemandEnabled</key>
				<integer>1</integer>
				<key>OnDemandRules</key>
				<array>
					<dict>
						<key>Action</key>
						<string>Connect</string>
						<key>ActionParameters</key>
						<dict>
							<key>Domains</key>
							<array>
								<string>432-11.ir-mci.ir</string>
							</array>
							<key>RequiredDNSServers</key>
							<array>
								<string>8.8.8.8</string>
							</array>
						</dict>
					</dict>
					<dict>
						<key>Action</key>
						<string>Connect</string>
						<key>SSIDMatch</key>
						<array>
							<string>IR_MCI</string>
						</array>
					</dict>
				</array>
				<key>OnDemandRulesEnabled</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
</plist>